<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="rebuyguide" src="{{ "/assets/img/rebuyguide.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ReBuyGuide </h3>
    <ul>
      <li> Ruby on Rails </li>
      <li> HTML </li>
      <li> CSS </li>
      <li> Bootstrap </li>
    </ul>
    <p>ReBuyGuide is a web application that allows users to create and manage their product reviews to inform their future purchasing decisions. It provides a user-friendly interface for users to track products they would or would not purchase again, as well as the ability to control visibility for each post to protect their privacy. In addition, users can follow their friends to see what products they are reviewing.</p>
    <a class="project-link" href="https://rebuyguide.com">Check it out</a>
  </div>
</div>